.item:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
}

.unit-cost::before {
    content: "$";
}

.preview {
    max-width: min(100px, 10vw);
}

/* such a hack -- https://github.com/vuejs/vue/issues/7058#issuecomment-441322358 */
:-webkit-autofill {
    animation-name: onAutoFillStart;
    transition: background-color 5s ease-in-out 0s;
}
